body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 500px;
    height: 23%;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

#spaceinvadersbutton{
    border: none;
    outline: none;
    height: 40px;
    width: 440px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#leaderboardbutton{
    border: none;
    outline: none;
    height: 40px;
    width: 440px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

a{
    color: white;
}