body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.leaderboard{
    width: 600px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px
}

a{
    color: white;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

p{
    text-align: center;
}