body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background {
    background-image: url('../assets/background.png');
    height: 800px;
    width: 1200px;
    border-radius: 5%;
}

#hero {
    background-image: url('../assets/hero.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 700px;
    left: 800px;
}

.enemy {
    background-image: url('../assets/enemy.png');
    height: 50px;
    width: 50px;
    position: absolute;
}

#missiles {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.missile {
    background-image: url(../assets/missile1.png);
    height: 16px;
    width: 10px;
    position: absolute;
}

#enemys {
    height: 800px;
    width: 1200px;
    position: absolute;
}

