<html>
    <head></head>
    <body>
        <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="loginbox">
            <h1>Hello, {{ current_user.username }}!</h1>
            <a href="{{ url_for('spaceinvaders') }}">
                <button id="spaceinvadersbutton">Click here to play spaceinvaders</button>
            </a>
            <a href="{{ url_for('leaderboard') }}">
                <button id="leaderboardbutton">Show leaderboard</button>
            </a>
        </div>
    </body>
</html>