<html>
    <head></head>
    <body>
        <link rel="stylesheet" type="text/css" href="../static/styles/leaderboard.css">
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="leaderboard">
            <h1>{{ current_user.username }}s Highscores</h1>
            {% for sco in score %}
            <p>{{ sco.body }}</p>
            {% endfor %}
        </div>
        <p></p>
    </body>
</html>