<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="../static/styles/spaceinvaders.css">
        <div id="background">
            <div id="hero"></div>
            <div id="rockets"></div>
            <div id="aliens"></div>
            <h1> "score" </h1>
        </div>
        <script>
            var hero = {
                top: 700,
                left: 840
            };

            var rockets = [];

            var aliens = [
                { left: 485, top: 100 },
                { left: 585, top: 100 },
                { left: 685, top: 100 },
                { left: 785, top: 100 },
                { left: 885, top: 100 },
                { left: 985, top: 100 },
                { left: 1085, top: 100 },
                { left: 1185, top: 100 },
                { left: 485, top: 175 },
                { left: 585, top: 175 },
                { left: 685, top: 175 },
                { left: 785, top: 175 },
                { left: 885, top: 175 },
                { left: 985, top: 175 },
                { left: 1085, top: 175 },
                { left: 1185, top: 175 },
            ];

            var secondAliens = [
                { left: 175, top: 50 },
                { left: 425, top: 50 },
                { left: 675, top: 50 },
                { left: 975, top: 50 },
                { left: 1225, top: 50 },
                { left: 1475, top: 50 },
                { left: 50, top: 100 },
                { left: 300, top: 100 },
                { left: 550, top: 100 },
                { left: 800, top: 100 },
                { left: 850, top: 100 },
                { left: 1100, top: 100 },
                { left: 1350, top: 100 },
                { left: 1600, top: 100 },
                { left: 485, top: 175 },
                { left: 585, top: 175 },
                { left: 685, top: 175 },
                { left: 785, top: 175 },
                { left: 885, top: 175 },
                { left: 985, top: 175 },
                { left: 1085, top: 175 },
                { left: 1185, top: 175 },
            ]

            var score = 0;

            var a = aliens.length + secondAliens.length;

            var i = 0;

            document.onkeydown = function(e) {

                if (e.keyCode === 37){
                    hero.left = hero.left - 20;
                    moveHero()
                }
                else if (e.keyCode === 39){
                    hero.left = hero.left + 20;
                    moveHero()
                }
                else if (e.keyCode === 32) {
                    rockets.push({
                        left: hero.left + 15,
                        top: hero.top
                    })
                    drawRockets()
                }
            }

            function moveHero() {
                document.getElementById('hero').style.left = hero.left + "px";
            }

            function drawRockets() {
                document.getElementById('rockets').innerHTML = "";
                for( var rocket =0; rocket < rockets.length; rocket = rocket + 1 ){
                    document.getElementById('rockets').innerHTML += 
                    `<div class='rocket' style='left:${rockets[rocket].left}px; top:${rockets[rocket].top}px;'></div>`;
                }
            }

            function moveRockets() {
                for( var rocket =0; rocket < rockets.length; rocket = rocket + 1 ){
                    rockets[rocket].top = rockets[rocket].top - 50;
                }
            }

            function drawAliens() {
                document.getElementById('aliens').innerHTML = "";
                for( var alien =0; alien < aliens.length; alien = alien + 1 ){
                    document.getElementById('aliens').innerHTML += 
                    `<div class='alien' style='left:${aliens[alien].left}px; top:${aliens[alien].top}px;'></div>`;
                }
            }

            function moveAliens() {
                for( var alien =0; alien < aliens.length; alien = alien + 1 ){
                    aliens[alien].top = aliens[alien].top + 2;
                }
            }

            function secondWave() {
                if(aliens.length == 0) {
                    aliens = secondAliens;
                }
            }
            
            function gameWin() {
                if(score == a) {
                    safeLeaderboard();
                    window.location = "/index";
                    alert("YOU WIN");
                }
            }

            function gameOver() {
                for(u = 0; u < aliens.length; u++) {
                    if (aliens[u]["top"] >= 700) {
                        safeLeaderboard();
                        window.location = "/index";
                        alert("YOU LOSE");
                        break;
                    }
                }
            }

            function safeLeaderboard () {
                var response = fetch("http://127.0.0.1:5000/leaderboard", {method:"POST", body: JSON.stringify({score}), headers:{"Content-Type": "application/json"} });
            }

            function collisionDetection() {
                for( var alien =0; alien < aliens.length; alien = alien + 1 ){
                    for( var rocket =0; rocket < rockets.length; rocket = rocket + 1 ){
                        console.log("aliens[alien].top", aliens[alien].top);
                        if (
                            (rockets[rocket].top <= aliens[alien].top + 50) &&
                            (rockets[rocket].top >= aliens[alien].top) &&
                            (rockets[rocket].left >= aliens[alien].left) &&
                            (rockets[rocket].left <= aliens[alien].left + 50)
                        ){
                            aliens.splice(alien, 1);
                            rockets.splice(rocket, 1);
                            score++;
                        }
                    }
                }
            }

            function gameLoop(){
                setTimeout(gameLoop , 50)
                moveRockets();
                drawRockets();
                drawAliens();
                moveAliens();
                collisionDetection();
                secondWave();
                gameWin();
                gameOver();
            }
            gameLoop();


        </script>
    </body>
</html>