<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="../static/styles/spaceinvaders.css">
        <div id="background">
            <div id="hero"></div>
            <div id="missiles"></div>
            <div id="enemies"></div>
        </div>
        <script>
            var hero = {
                top: 700,
                left: 840
            };

            var missiles = [];

            var enemies = [
                { left: 485, top: 100 },
                { left: 585, top: 100 },
                { left: 685, top: 100 },
                { left: 785, top: 100 },
                { left: 885, top: 100 },
                { left: 985, top: 100 },
                { left: 1085, top: 100 },
                { left: 1185, top: 100 },
                { left: 485, top: 175 },
                { left: 585, top: 175 },
                { left: 685, top: 175 },
                { left: 785, top: 175 },
                { left: 885, top: 175 },
                { left: 985, top: 175 },
                { left: 1085, top: 175 },
                { left: 1185, top: 175 }
            ];

            var secondEnemies = [
                { left: 485, top: 100 },
                { left: 585, top: 100 },
                { left: 685, top: 100 },
                { left: 785, top: 100 },
                { left: 885, top: 100 },
                { left: 985, top: 100 },
                { left: 1085, top: 100 },
                { left: 1185, top: 100 },
                { left: 485, top: 175 },
                { left: 585, top: 175 },
                { left: 685, top: 175 },
                { left: 785, top: 175 },
                { left: 885, top: 175 },
                { left: 985, top: 175 },
                { left: 1085, top: 175 },
                { left: 1185, top: 175 }
            ]

            var score = 0;

            var a = enemies.length + secondEnemies.length;

            var i = 0;

            document.onkeydown = function(e) {

                if (e.keyCode === 37){
                    hero.left = hero.left - 20;
                    moveHero()
                }
                else if (e.keyCode === 39){
                    hero.left = hero.left + 20;
                    moveHero()
                }
                else if (e.keyCode === 32) {
                    missiles.push({
                        left: hero.left + 15,
                        top: hero.top
                    })
                    drawMissiles()
                }
            }

            function moveHero() {
                document.getElementById('hero').style.left = hero.left + "px";
            }

            function drawMissiles() {
                document.getElementById('missiles').innerHTML = "";
                for( var missile =0; missile < missiles.length; missile = missile + 1 ){
                    document.getElementById('missiles').innerHTML += 
                    `<div class='missile' style='left:${missiles[missile].left}px; top:${missiles[missile].top}px;'></div>`;
                }
            }

            function moveMissiles() {
                for( var missile =0; missile < missiles.length; missile = missile + 1 ){
                    missiles[missile].top = missiles[missile].top - 50;
                }
            }

            function drawEnemies() {
                document.getElementById('enemies').innerHTML = "";
                for( var enemy =0; enemy < enemies.length; enemy = enemy + 1 ){
                    document.getElementById('enemies').innerHTML += 
                    `<div class='enemy' style='left:${enemies[enemy].left}px; top:${enemies[enemy].top}px;'></div>`;
                }
            }

            function moveEnemies() {
                for( var enemy =0; enemy < enemies.length; enemy = enemy + 1 ){
                    enemies[enemy].top = enemies[enemy].top + 2;
                }
            }

            function secondWave() {
                if(enemies.length == 0) {
                    enemies = secondEnemies;
                }
            }
            
            function gameWin() {
                if(score == a) {
                    window.location = "/index";
                    alert("YOU WIN");
                }
            }

            function gameOver() {
                for(u = 0; i < enemies.length; i++) {
                    if (top >= 700) {
                        window.location = "/index";
                        alert("YOU LOSE");
                    }
                }
            }

            function collisionDetection() {
                for( var enemy =0; enemy < enemies.length; enemy = enemy + 1 ){
                    for( var missile =0; missile < missiles.length; missile = missile + 1 ){
                        console.log("enemies[enemy].top", enemies[enemy].top);
                        if (
                            (missiles[missile].top <= enemies[enemy].top + 50) &&
                            (missiles[missile].top >= enemies[enemy].top) &&
                            (missiles[missile].left >= enemies[enemy].left) &&
                            (missiles[missile].left <= enemies[enemy].left + 50)
                        ){
                            enemies.splice(enemy, 1);
                            missiles.splice(missile, 1);
                            score++;
                        }
                    }
                }
            }

            function gameLoop(){
                setTimeout(gameLoop , 50)
                moveMissiles();
                drawMissiles();
                drawEnemies();
                moveEnemies();
                collisionDetection();
                secondWave();
                gameWin();
                gameOver();
            }
            gameLoop();

        </script>
    </body>
</html>